  <div class="menu">
    <ul class="menu-list">
      <li> <a class='menu_link' href=<%= new_idea_path %>>New idea</a></li>
    </ul>
    <h1>Anotações</h1>
  </div>
  
  <div class="wrapper">
    
      <ul class="b_post">
          <% @ideas.each do | idea |%>
            <li class="p-list">

              <div class="text_post">
                <h1 class="title-post"><%= idea.title%></h1>
                <p><%= idea.text%></p>
            
              </div>
              <div class="link_post">
              </div>
            </li>
        <% end %>
      </ul>
  </div>


